.Custom_Container {
  width: 50%;
}

.HeaderView {
  font-family: 'Kanit', sans-serif;
  text-decoration: underline;
  font-size: calc(10px + 2vmin);
  font-style: italic;
  margin-bottom: 5px;
}

.Transparent {
  border-color: transparent;
}

th {
  background: green;
  color: antiquewhite;
  text-indent: 3px;
  border-color: rgb(3, 36, 3) !important;
}
th,
td {
  border: 1px solid #ccc;
}
tr:nth-of-type(odd) {
  background: #eee;
}

table {
  display: inline;
  margin-right: 15px;
}

.Edit-btn {
  font-weight: bold !important;
  border-radius: 15px !important;
  border-color: rgb(226, 80, 43) !important;
  background: rgb(254, 204, 177); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    rgba(254, 204, 177, 1) 0%,
    rgba(241, 116, 50, 1) 50%,
    rgba(234, 85, 7, 1) 51%,
    rgba(251, 149, 94, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    rgba(254, 204, 177, 1) 0%,
    rgba(241, 116, 50, 1) 50%,
    rgba(234, 85, 7, 1) 51%,
    rgba(251, 149, 94, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    rgba(254, 204, 177, 1) 0%,
    rgba(241, 116, 50, 1) 50%,
    rgba(234, 85, 7, 1) 51%,
    rgba(251, 149, 94, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1 );
  border-radius: 50px;
}

.Delete-btn {
  font-weight: bold !important;
  color: red !important;
  border-radius: 15px !important;
  border-color: pink !important;
  background: rgb(252, 236, 252); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(252, 236, 252, 1) 0%,
    rgba(251, 166, 225, 1) 50%,
    rgba(253, 137, 215, 1) 51%,
    rgba(255, 124, 216, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(252, 236, 252, 1) 0%,
    rgba(251, 166, 225, 1) 50%,
    rgba(253, 137, 215, 1) 51%,
    rgba(255, 124, 216, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(252, 236, 252, 1) 0%,
    rgba(251, 166, 225, 1) 50%,
    rgba(253, 137, 215, 1) 51%,
    rgba(255, 124, 216, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=1 );
}

.OK-btn {
  font-weight: bold !important;
  border-radius: 15px !important;
  border-color: rgb(226, 80, 43) !important;
  background: rgb(241, 231, 103); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(241, 231, 103, 1) 0%,
    rgba(254, 182, 69, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(241, 231, 103, 1) 0%,
    rgba(254, 182, 69, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(241, 231, 103, 1) 0%,
    rgba(254, 182, 69, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=1 );
}

.Cancel-btn {
  font-weight: bold !important;
  border-radius: 15px !important;
  border-color: rgb(20, 6, 2) !important;
  background: rgb(246, 248, 249); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(246, 248, 249, 1) 0%,
    rgba(229, 235, 238, 1) 50%,
    rgba(215, 222, 227, 1) 51%,
    rgba(245, 247, 249, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(246, 248, 249, 1) 0%,
    rgba(229, 235, 238, 1) 50%,
    rgba(215, 222, 227, 1) 51%,
    rgba(245, 247, 249, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(246, 248, 249, 1) 0%,
    rgba(229, 235, 238, 1) 50%,
    rgba(215, 222, 227, 1) 51%,
    rgba(245, 247, 249, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 );
}
