.Custom_Container {
  width: 50%;
}
.FieldSet {
  margin: auto;
  width: 40%;
}
.HeaderAdd {
  font-family: 'Kanit', sans-serif;
  font-size: calc(10px + 2vmin);
  margin-bottom: 5px;
  text-decoration: underline;
}

.small-btn {
  width: 90px;
  height: 45px;
  color: white !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  border-color: rgba(103, 16, 218, 0.726) !important;
  background: rgb(203, 96, 179); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(203, 96, 179, 1) 0%,
    rgba(168, 0, 119, 1) 40%,
    rgba(168, 0, 119, 1) 40%,
    rgba(193, 70, 161, 1) 61%,
    rgba(139, 35, 142, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(203, 96, 179, 1) 0%,
    rgba(168, 0, 119, 1) 40%,
    rgba(168, 0, 119, 1) 40%,
    rgba(193, 70, 161, 1) 61%,
    rgba(139, 35, 142, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(203, 96, 179, 1) 0%,
    rgba(168, 0, 119, 1) 40%,
    rgba(168, 0, 119, 1) 40%,
    rgba(193, 70, 161, 1) 61%,
    rgba(139, 35, 142, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#8b238e',GradientType=1 );
}
