.Header-Main {
  color: #d54d7b;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  font-style: oblique;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 0px;
  text-indent: 22px;
  margin-top: 20px;
  text-align: left;
  text-shadow: 0 5px 9px rgb(238, 109, 109);
}

.Header-Content {
  color: #19a76c;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  font-style: oblique;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 20px;
  text-indent: 22px;
  margin-top: 20px;
  text-align: left;
  text-shadow: 0 5px 9px rgb(59, 194, 115);
}

.Divider {
  border-top: 3px double #8c8b8b;
}
